<footer class="" style="background-color: #000">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <!-- <h3 class="text-white font-weight-light ">Code-On
        </h3>
        <h5 class="font-weight-light text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5> -->
        <!-- <div class="py-2">
          <a href=""><i class="fab fa-facebook text-info mx-3 fa-2x"></i></a>
          <a href=""><i class="fab fa-google-plus  text-danger mx-3 fa-2x"></i></a>
          <a href=""><i class="fab fa-instagram text-success mx-3 fa-2x"></i></a>
          <a href=""><i class="fab fa-twitter text-info mx-3 fa-2x"></i></a>
          <a href=""><i class="fab fa-youtube text-danger mx-3 fa-2x"></i></a>
        </div> -->
        <p class="text-white ">&copy; Copyright 2019 - Made by Nitesh Saxena
        </p>
        <p class="" style="font-size: 90%">
          <a href="#" (click)="activateAdmin()" class=" text-warning">Add an Article</a>
        </p>

      </div>
    </div>
  </div>
</footer>
