 a,
 a:visited {
   color: rgb(72, 127, 230) !important;
   text-decoration: none !important
 }

 a:hover {
   color: rgb(65, 13, 13) !important;
 }

 a:active {
   color: rgb(24, 78, 10) !important;
 }

 .about-search {
   letter-spacing: 5px;
   font-size: 140%;
   color: rgb(32, 66, 22)
 }
