<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: black">
  <div id="heading" class="navbar-brand stack" style="padding:0 !important;">
    <div *ngIf="getActiveContent()=='Home' || getActiveContent()=='Admin' ||getActiveContent()=='Searching'" class="pull-left image" style="padding:0 !important;margin: 0 !important">
      <i class="fa fa-code text-danger fa-2x"></i>
    </div>
    <div *ngIf="getActiveContent()=='Front-end'" class="pull-left image">
      <img src="../../../../assets/frontend.png" class="rounded-circle" alt="User Image">
    </div>
    <div *ngIf="getActiveContent()=='Full-stack'" class="pull-left image">
      <img src="../../../../assets/fullstack.png" class="rounded-circle" alt="User Image">
    </div>
    <div *ngIf="getActiveContent()=='Back-end'" class="pull-left image">
      <img src="../../../../assets/backend.png" class="rounded-circle" alt="User Image">
    </div>
    <div *ngIf="!searchFocus" class="pull-left info">
      <div class="nav-item dropdown">
        <a href="" data-toggle="dropdown" class="nav-link font-weight-bold text-light dropdown-toggle">
          <span class="  font-weight-bold px-2 text-light ">
            {{title}}<span class="text-info">{{subTitle}}</span>
          </span>
        </a>
        <div class="dropdown-menu" style="background-color: rgba(17, 17, 17, 0.822);letter-spacing: 5px">
          <a *ngIf="!(getActiveContent()== 'Home')" href="#" (click)="setActiveContent('Home')"
            class="dropdown-item text-white">Home</a>
          <a *ngIf="!(getActiveContent()== 'Full-stack')" href="#" (click)="setActiveContent('Full-stack')"
            class="dropdown-item text-white">fullStack</a>
          <a *ngIf="!(getActiveContent()== 'Back-end')" href="#" (click)="setActiveContent('Back-end')"
            class="dropdown-item text-white">backEnd</a>
          <a *ngIf="!(getActiveContent()== 'Front-end')" href="#" (click)="setActiveContent('Front-end')"
            class="dropdown-item text-white">frontEnd</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="padding:0 !important;">
    <input (focus)="setFocus()" (focusout)="setFocusOut()" id="search" type="text" class="search form-control " (keyup)="searchingText()"
      autocomplete="off" placeholder="search" [(ngModel)]="searchText">
  </div>
  <div id="sidebar-button" *ngIf="getActiveContent()!='Home' && getActiveContent()!='Admin' && getActiveContent()!='Searching'" class="">
    <a href="#" (click)="toggleSidebarDisplay()" class="btn text-white" id="menu-toggle">
      <i *ngIf="collapseSideBar" class="fa fa-2x fa-bars" aria-hidden="true"></i>
      <i *ngIf="!collapseSideBar" class="fa fa-2x fa-times-thin" aria-hidden="true"></i>
    </a> 
  </div>
</nav>