.sidebar-display-off {
  visibility: hidden;
  opacity: 0;
  width: 100px !important;
  height: 100px  !important;
  overflow: hidden;
  transition: visibility 0.8s ease-in-out, opacity 0.7s ease-in-out,width 1s, height 1s;
}

.sidebar-display {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
